body{
    background-color: black;
}

h1{
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  text-transform: uppercase;
  color: white;
  font-size: 20px;
}

.main{
    width: 50%;
    margin-left: 25%;
    text-align: center;
     font-family:"Libre Baskerville", serif;
}
p{
    color: white;
    font-size: x-large;
    
}
.image{
    width: 50%;
}